@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="flex-container">
    <img class="moonMan" src="~/Content/Images/Eye.jpeg" />

    <div class="siteInfo">
        <h1>Un forum pentru exprimarea libera a opiniilor si ideilor despre lumea in care cu totii traim</h1>
        <ul>
            <li>
                Acest forum se bazeaza pe exercitarea dreptului la exprimare libera
            </li>
            <li>
                Toti oamenii care au ceva de spus sunt bineveniti sa posteze
            </li>
            <li>
                Incercam sa formam o comunitate de oameni bine educati care vor sa raspandeasca idei benefice pentru societate
            </li>
            <li>
                Scopul forumului este de a aduna toti oamenii care vor o schimbare si sunt pregatiti sa lupte pentru a imbunatati lucrurile in aceasta tara
            </li>

        </ul>
    <div class="umplutura"></div>
    </div>
</div>

<div class="umplutura"></div>