@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

<div class="flex-container">
    <img class="moonMan" src="~/Content/Images/moonMan.png" />

    <h1 class="titlu">Cauti un loc in care sa iti exprimi ideile in mod liber si necenzurat?</h1>
    <div class="buton-wrapper">
        <a href="/Sections/" class="buton"> >Discuta acum cu oameni ca tine< </a>
    </div>

</div>



<div class="umplutura"></div>