@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/login.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">


<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Nu poti accesa forumul fara sa te loghezi!</p>

                            <form id="account" method="post" class="py-5">
                                <div class="d-flex justify-content-center">
                                    <i class="icon-map-marker icon-4x text-success"></i>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                                <div class="form-group ">
                                    <input asp-for="Input.Email" class="form-control" placeholder="Email" required autofocus />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group ">
                                    <input asp-for="Input.Password" class="form-control" placeholder="Parola" required />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayName("Stocheaza datele de login")
                                        </label>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block">Sign in</button>
                                </div>
                            </form>

                            <div class="row col-12">
                                <p class="col-12">
                                    <a id="forgot-password" asp-page="./ForgotPassword">Ai uitat parola?</a>
                                </p>
                                <p class="col-12">
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Daca nu ai un cont, inregistreaza-te</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>