@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">


    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <h2>Creeaza un cont nou.</h2>
                                    <hr />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <input asp-for="Input.Email" class="form-control" placeholder="username" aria-required="true" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input asp-for="Input.Password" class="form-control" placeholder="parola" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="confirma parola" aria-required="true" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <button id="registerSubmit" type="submit" class="w-100 btn">Inregistreaza-te</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>