.container-profil {
    margin: 100px;
    border: 1px solid brown;
    border-radius: 5px;
    background-color: #262523;
    color: white;
}

.card {
    background-color: #262523;  
    color: white;
}

body {
    background-color: #F2EAE4;
    font-family: 'Noto Serif', serif;
}

.btn {
    outline-color: black;
    background-color: #3f3d3d;
    background-color: #c7c1b9;
    color: #3f3d3d;
}

    .btn:hover {
        outline-color: black;
        background-color: #3f3d3d;
        color: #fef6ec;
    }
