@model ForumApp.Models.Section

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="/Sections/Index/">Sections</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.SectionName</li>
    </ol>
</nav>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.SectionName</h4>
        <a class="btn btn-outline-success" href="/Sections/Edit/@Model.Id">Edit section</a> @*trebuie mutat asta*@
        
        @* Buton pentru a adauga un forum nou in sectiunea in care ne aflam *@
        <a class="btn btn-outline-success" href="/Forums/New/@Model.Id">Add new forum</a>
        <form method="post" action="/Sections/Delete/@Model.Id">
            <button class="btn btn-danger" type="submit">Delete section</button>
        </form>
    </div>
</div>
<br />


<br />
<br />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Forums</h5>
        <a class="btn btn-secondary btn-sm" href="/Forums/New/@Model.Id">Add Forum</a>
        @foreach (ForumApp.Models.Forum forum in Model.Forums)
        {
            @if(forum.ForumType == 0)                               // daca forumul este public
            {
                <partial name="ForumInfo" model="forum"></partial>
            }
            
        }
    </div>
</div>