<div class="card" style="width: 35rem;">
    <div class="card-body">
        <h5 class="card-title"><a style="text-decoration:none; color:black" href="/Forums/Show/@Model.Id">@Model.ForumName</h5>
        <p class="card-text" style="color:grey">@Model.ForumDescription</p>
        <small>@Model.CountOfSubforums postari</small>
        <small>@Model.MsgCount mesaje</small>
    </div>
</div>